# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log

# Virtual Environment
.env
.venv
venv/
ENV/
c4henv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/assets/*
!data/assets/.gitkeep
workspaces/
test_output/

# Environment variables
.env
tests/test_projects
tests/regulatory_calculations
backup_txt/
.cache/
.DS_Store/
.DS_Store
tests/.DS_Store
.history/
*.txt
!requirements.txt
*.old
tests/test_projects/project1/sample.py
tests/test_projects/project2/main.py
tests/test_projects/project2/utils.py
tests/test_projects/project3/test_java.java
